@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Dancing+Script&family=Koulen&family=Oswald&family=Poppins&family=Rajdhani:wght@300&family=Rubik+Dirt&family=Silkscreen&family=Sofia+Sans+Condensed:wght@600&family=Source+Code+Pro:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    flex-direction:column;
    background:url('/background.jpg');
}

.container{
    align-items:center;
    background:transparent;
    display:flex;
    height:100vh;  
    justify-content:space-evenly;
    position:relative;
    transition:0.5s;
    width:100vw;
}

@keyframes colorify{
    0%{
        filter:hue-rotate(45deg);
    }
    25%{
        filter:hue-rotate(60deg);
    }
    50%{
        filter:hue-rotate(90deg);
    }
    75%{
        filter:hue-rotate(60deg);
    }
    100%{
        filter:hue-rotate(45deg);
    }
}
#header{
    background:#a2a2ff;
    color:#0f0f0f;
    font-size:10rem;
    font-family:'Sofia Sans Condensed',Verdana, Geneva, Tahoma, sans-serif;
    font-style:oblique;
    height:100vh;
    line-height:100vh;
    text-align:center;
    transition:0.6s;
    vertical-align:middle;    
}
.sticky{
    transform:translateX(-100vw);
}
.sticky2{
    transform:translateY(-70vh);

}
.Gameblock{
    background:#0f0f0f;
    border-radius:10%; 
    color:white;
    font-family:'Arima' , sans-serif;
    font-size:2rem; 
    height:60%;
    padding:5%;    
    text-align:center;
    width:25%;
}
.Greet{
    color:azure;
    font-family:'Koulen', sans-serif;
    font-size:5rem;
    height:auto;
    line-height:30vh;
    text-align:center;
}
#GameIcon{
    align-items:center;
    display:flex;
    font-size:2em;
    flex-direction:column;  
    justify-content:space-between;
    text-align:center;
}

span:hover{
    animation:colorify 1s linear infinite;
}
.ComIcon{
    color:white;
    font-size:5rem;
    
}
.ComIcon span{
    transition:0.4s;
}
.modal{
    align-items:center;
    background:black;
    border-radius:2vw;
    box-shadow:2vw 2vw #89ff89;
    color:wheat;
    display:flex;
    font-family:'Oswald' , sans-serif;
    flex-direction:column;
    gap:10%;
    height:75vh; 
    margin:10%;
    position:fixed;
    padding:5%;
    width:75vw;
    
}
.modal h1{
    font-style:oblique;
}
.modal p{
    font-size:1.5em;
}
#begin{
    background:transparent;
    border:none;
    color:lightcoral;
    font-family:Koulen,sans-serif;
    font-size:1.2em;
    text-shadow: 0.4vw 0.4vw red;
}
#begin:hover{
    transform:scale(120%);

}
@keyframes scalar{
    from{
        transform:scale(100%);
    }
    50%{
        transform:scale(50%);
    }
    to{
        transform:scale(0%);
    }
}
.move{
    animation:scalar 2s linear ;
}
.hidden{
    display:none;
}
.Win{
    background:#0f0f0f;
    color:white;
    font-size:3em;
    font-family:'Rubik dirt', sans-serif;
    height:150vh;
    padding:10%;
    margin:0;
    position:absolute;
    width:100vw;
}
.Loss{
    background:#0f0f0f;
    color:white;
    font-size:3em;
    font-family:'Rubik dirt', sans-serif;
    height:150vh;
    padding:10%;
    margin:0;
    position:absolute;
    width:100vw; 
}

.btn{
    border-style:none;
    background:transparent;
    font-size:1em;
    color:bisque;
    font-family:'Koulen',sans-serif;
    text-shadow:2vw 2vw red;
}
#yes:hover{
    transform:scale(120%);
    text-shadow:2vw 2vw  blue;
}
#no:hover{
    transform:scale(120%);
}
